<div id="about-us" class="main section" data-ibg-bg="<%= image_path('home/aboutusbg.png') %>">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-center cream">BRINGS CREATIVE IDEAS TO LIFE</h1>
                <p>From our Nashville Headquarters, we work with entrepreneurs, innovators and established companies across the globe to design, develop, and market exciting new concepts.</p>
                <p>Our diverse skill set and portfolio enable us to engineer custom products to the highest quality –all while our team of experts helps to guide you through the process of bringing an innovative idea to market.</p>
                <p>We make creative thinkers more creative. We make creation easier. And we make creativity more marketable.</p>
            </div>
        </div>
    </div>
</div>

<!-- <div id="contact-us" class="main section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-center cream">BRINGS CREATIVE IDEAS TO LIFE</h1>
                <p>From our Nashville Headquarters, we work with entrepreneurs, innovators and established companies across the globe to design, develop, and market exciting new concepts.</p>
                <p>Our diverse skill set and portfolio enable us to engineer custom products to the highest quality –all while our team of experts helps to guide you through the process of bringing an innovative idea to market.</p>
                <p>We make creative thinkers more creative. We make creation easier. And we make creativity more marketable.</p>
            </div>
        </div>
    </div>
</div> -->
