<div id="contact-us" class="main section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6" id="content">
                <h1 class="cream underline header-font">LET'S CREATE SOMETHING TOGETHER</h1>

                <div id="address" class="cream">
                    <p>
                        533 Church Street<br />
                        Suite 146<br />
                        Nashville, TN 37219<br />
                        800.262.4171
                    </p>
                </div>
            </div>
            <div class="col-lg-6" id="contact-form">
                <p class="cream">CONTACT</p>

                <div id="form">
                    <%= render 'contacts/form' %>
                </div>
            </div>
        </div>
    </div>
</div>
