<div class="home1 section" id="home1">
    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <h2>THERE ARE MANY PATHS</h2>
                <h1>AND THEN THERE ARE PATHS THAT ARE <span class="yellow">PROVEN</span></h1>
                <span id="icons"></span>
                <!-- <a id="down-arrow" href="#home2"></a> -->
            </div>
        </div>
    </div>
</div>

<div class="home2 section" id="home2">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h1>MAKING <span class="yellow">IDEAS</span> A REALITY IS WHAT WE DO</h1>
                <p>Arciplex has the team and experience necessary to guide and assure your ideas become a reality</p>
            </div>
        </div>
    </div>
</div>
