<div class="home1 section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-4">
                <h1>It starts with an <span class="yellow">idea</span></h1>
                <p>But it’s the experience of a team of multi-disciplinary professionals that transforms those ideas into a realities.</p>

                <a id="down-arrow" href="#home2"></a>
            </div>
        </div>
    </div>
</div>

<div class="home2 section" id="home2">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h1>MAKING <span class="yellow">IDEAS</span> A REALITY IS WHAT WE DO</h1>
                <p>Arciplex has the team and experience necessary to guide and assure your ideas become a reality</p>
            </div>
        </div>
    </div>
</div>
