<div class="home1 section clearfix" id="home1">
    <div class="container">
        <div class="row">
            <div class="col-lg-10" data-0="transform:translate(0,0%);" data-100="transform:translate(0,-100%);">
                <h2 class="header-font">THERE ARE MANY PATHS</h2>
                <h1 class="header-font">AND THEN THERE ARE PATHS THAT ARE <span class="yellow">PROVEN</span></h1>
                <div class="animated bounceInLeft" id="icon-holder">
                    <span class="icon idea" data-id="#idea"></span>
                    <span class="icon collaboration" data-id="#collaboration"></span>
                    <span class="icon research" data-id="#research"></span>
                    <span class="icon design" data-id="#design"></span>
                    <span class="icon engineering" data-id="#engineering"></span>
                    <span class="icon prototyping" data-id="#prototyping"></span>
                    <span class="icon testing" data-id="#testing"></span>
                    <span class="icon production" data-id="#production"></span>
                    <span class="icon distribution" data-id="#distribution"></span>
                </div>
            </div>
        </div>

        <div class="row" data-0="transform:translate(0,0%);" data-100="transform:translate(0,-100%);">
            <div class="col-lg-12">
                <a id="down-arrow" class="center-block" href="#home2"></a>
            </div>
        </div>
    </div>
</div>

<div class="home2 section clearfix" id="home2">
    <div class="container">
        <div class="row">
            <div class="col-lg-7" data-0="opacity:0;left:-2000px" data-600="opacity:1;left:10px">
                <h1 class="header-font">MAKING <span class="yellow">IDEAS</span> A REALITY IS WHAT WE DO</h1>
                <p>Arciplex has the team and experience necessary to guide and assure your ideas become a reality</p>
            </div>
        </div>
    </div>
</div>
