<section id="idea" class="main">
    <div class="content right yellow-border">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1>A Powerful Idea</h1>
                    <p>Maybe you’ve just had an idea. Or maybe your existing product line needs to be reworked.</p>
                    <p>Regardless of where you are in your creative process, a powerful idea is key to any true innovation. But taking an idea, protecting it, nurturing it, and bringing it to life? That’s where we come in. innovative idea to market.</p>
                </div>
            </div>
        </div>
        <div class="footer">
            <span class="icon">
                <%= image_tag "home/icons/idea.png" %>
                IDEA
            </span>
        </div>
    </div>
</section>

<section id="collaboration" class="main">
    <div class="content left purple-border">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1>COLLABORATION &amp; DISCOVERY</h1>
                    <p>Your process starts with an idea. Our process starts with collaboration and teamwork.</p>
                    <p>Our goal is to give you access to as many experienced minds as possible. This is where exciting possibilities are discovered.</p>
                </div>
            </div>
        </div>

        <div class="footer">
            <span class="icon pull-right">
                <%= image_tag "home/icons/collaboration.png" %>
                COLLABORATION
            </span>
        </div>
    </div>
</section>

<section id="research" class="main">
    <div class="content right blue-border">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1>RESEARCH &amp; DISCOVERY</h1>
                    <p>Your process starts with an idea. Our process starts with collaboration and teamwork.</p>
                    <p>Our goal is to give you access to as many experienced minds as possible. This is where exciting possibilities are discovered.</p>
                </div>
            </div>
        </div>

        <div class="footer">
            <span class="icon pull-right">
                <%= image_tag "home/icons/collaboration.png" %>
                RESEARCH
            </span>
        </div>
    </div>
</section>

<section id="design" class="main">
    <div class="content left purple-border">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1>THE DESIGN</h1>
                    <p>Ideas are one thing. A fully functioning, technologically advanced, bug free product is certainly another.</p>
                    <p>In this phase, our design teams confirm specs, determine timelines, confirm a statement of work, create innovative design options, and decide on materials and components.</p>
                </div>
            </div>
        </div>

        <div class="footer">
            <span class="icon pull-right">
                <%= image_tag "home/icons/design.png" %>
                DESIGN
            </span>
        </div>
    </div>
</section>
