<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-2">
        <ol class="breadcrumb">
          <li><%= fa_icon "home"  %> Home</li>
        </ol>
      </div>
      
      <div class="col-md-9 col-md-offset-1">
        <%= page_heading t("#{params[:controller].underscore}.title") %>
      </div>
    </div>
  </div>
</div>