<%= form_for [@company, object], remote: true, html: { role: "form", class: "form-horizontal", id: "change-shipping-info" } do |f| %>
  <div class="modal-body">
    <% if object.respond_to?(:customer) %>
      <%= f.fields_for :customer do |customer| %>
        <%= render partial: 'customers/form', locals: {f: customer} %>
      <% end %>
    <% end %>
  </div>

  <div class="modal-footer">
    <%= f.submit "Submit", class: "btn btn-primary" %>
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
<% end %>
