<% hsh = {} %>
<% hsh[:company_id] = params[:company_id] %>
<% status_arr = ["All", "Pending", "Opened", "Closed"] %>

<%  if current_company.has_api_access? && path.include?("service_requests") %>
  <% status_arr.insert(1, "Pre-Approval") %>
<% end %>

<ul class="dropdown-menu">
  <% status_arr.each do |state| %>
    <% hsh.merge!(status: state.underscore) unless state == "All" %>
    <li><%= link_to convert_opened_to_open(state, upcase: true), send(path, hsh) %></li>
  <% end %>
</ul>
