<% if current_user %>
  <!-- Modal -->
  <div class="modal fade" id="user-<%= current_user.id %>" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Change Your Password</h4>
        </div>

        <div class="modal-body">
          <%= render 'users/form' %>
        </div>
      </div>
    </div>
  </div>
<% end %>

</body>
</html>
