<form action="<%= url %>" method="get" id="search-form">
  <div class="form-group">
    <label for="search">Search</label>
    <input type="text" name="search" id="search" class="form-control" placeholder="Search <%= placeholder %>" />
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-success" id="search-submit-btn">Submit</button>
  </div>
</form>
