<h1>Shipping Instructions</h1>

<p>Please ship all Warranty Units to the address below:</p>

<p>Warranty Center<br />
533 Church Street<br />
Suite 146<br />
Nashville, TN 37219</p>

<p><em>Packaging</em>:<br />
There are restrictions on the total weight and size of packages that the services will accept for shipping. Select the right type of box and size for your package. Find a box for your item that allows room for padding, but not one that is over-sized. If your item is heavy, you should use a heavier type of box or brace it with reinforced tape on the edges. You can use any box as long as all labels and other markings have been covered or marked out with a black marker. You can get several different sizes and styles of boxes for mailing packages either Priority or Express from your local shipping services. All Units are required to be fully padded around every corner during shipment. All shipments must be insured up to the value in which the customer purchased the product. Units should be shipped in the same manner in which they were received. Units that have been packaged or shipped poorly are subject to service charges and/or void of warranty.</p>

<p><em>Responsibility</em>:<br />
Customer’s are responsible for paying shipping expenses they incur to ship the warranty product to ARCiPLEX. ARCiPLEX is responsible for paying shipping expenses they incur to ship the warranty product back to the Customer. ARCiPLEX assumes no responsibility for Units that have been lost or damaged during shipment. If Units are lost, ARCiPLEX will not be responsible to replace the device. If Units are damaged, ARCiPLEX will not be responsible to fix related issues.</p>

<p>*All units must include its power supply in the shipment to the ARCiPLEX Warranty Center.</p>
