<p>Hello <%= @first_name %>,</p>
<p>This is a friendly reminder that the Service Request Case <%= @case_number %> is due to be completed in 2 days. Please let us know if you have any questions or concerns regarding fulfilling this Service Request. If this Service Request has already been completed and shipped, thank you and please ignore this email.</p>
<p>Thanks,<br />
Arciplex</p>
