<div class="well">
  Item Type: <%= order_line_item.item %><br />
  Model Number: <%= order_line_item.quantity %><br />
  Serial Number: <%= order_line_item.serial_number %><br />
  Additional Information: <%= order_line_item.additional_information %>
</div>
