$container-desktop: 1005px;
$container-md: $container-desktop;
$container-lg: $container-desktop;
$header-yellow: #ffc425;
$header-grey: #808084;
$arciplex-purple: #db0962;
$arciplex-blue: #5d87a1;

@import "mixins";
@import "animate/fadeIn";
@import "animate/bounce";
@import "animate/bounceIn";
@import "bootstrap";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "font-awesome";
@import "gritter";
@import "bootstrap-select/bootstrap-select.min";
@import "devise";
@import "layout";
@import "signed_in";
@import "service_requests";
@import "admin";
@import "home";
