$container-desktop: 1005px;
$container-md: $container-desktop;
$container-lg: $container-desktop;

@import "bootstrap";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "font-awesome";
@import "gritter";
@import "bootstrap-select/bootstrap-select.min";
@import "devise";
@import "layout";
@import "signed_in";
@import "service_requests";
@import "admin";
@import "home";
