@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import "animations";

.home {

    & { position: relative; }

    padding-top: 0;
    font-family: 'Fjalla One', sans-serif;
    -webkit-font-smoothing: antialiased;

    .ibg-bg { position: absolute; }

    .navbar {
        background: white;
        margin-bottom: 0;

        .navbar-brand {
            background-repeat: no-repeat;
            width: 164px;
            line-height: 28px;
            display: block;
            margin-top: 10px;
            background-image: asset-url('logo.png');
        }

        .nav {

            margin-top: 17px;

            li {
                margin-left: 55px;
                padding: 0 5px 10px 5px;
                font-size: 18px;
                text-transform: uppercase;

                a {
                    color: #838287;
                    padding-bottom: 0;
                    background: transparent;
                    box-sizing: border-box;
                    line-height: 35px;
                    display: block;
                    border-bottom: 4px solid transparent;

                    &:hover {
                        border-color: #FEA850;
                    }
                }

                .dropdown-menu {
                    background-color: #ece9e9;
                    border: 0;

                    li {
                        padding: 0;
                        margin: 5px auto;
                        font-size: 14px;

                        a {
                            color: #808084;
                            text-decoration: none;
                            border-bottom: 0;
                        }

                        &:hover {
                            border-bottom: 0;
                            background-color: #c4c3c1;

                            a {
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }

    .brochure-container {
        width: 100%;
        height: 100%;
        display: block;
        padding: 0;

        font-size: 24px;

        h1 {
            text-transform: uppercase;
            color: $header-grey;
            font-size: 60px;
            font-weight: 300;

            span.yellow {
                color: $header-yellow;
            }

            &.cream {
                color: #eceadd;
            }
        }

        #about-us {
            color: #eceadd;

            .col-lg-12 {

                h1 {
                    padding-bottom: 5px;
                    margin-bottom: 50px;
                    border-bottom: 3px solid #eceadd;
                }
            }
        }

        #contact-us {
            @include background-cover('home/contactusbg.png');
        }

        .home1 {
            @include background-cover('home/main1.png');

            h1, h2 { margin-left: -115px; }

            h2 {
                color: $header-grey;
                font-size: 40px;
            }

            h1 { font-weight: 800; }

            #icons {
                display: block;
                background: asset-url('home/coloricons.png') no-repeat top left;
                width: 1115px;
                height: 110px;
                position: absolute;
                margin: 25px 0 0 -115px;
                left: -2000px;
                -webkit-animation: slide 0.5s forwards;
                -webkit-animation-delay: 0.5s;
                -moz-animation: slide 0.5s forwards;
                -moz-animation-delay: 0.5s;
                -o-animation: slide 0.5s forwards;
                animation: slide 0.5s forwards;
                animation-delay: 0.5s;
            }

            #down-arrow {
                background: asset-url('home/arrow.png') no-repeat top left;
                height: 66px;
                width: 64px;
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                margin: -150px auto;
                -webkit-animation: infinite-bounce 1s 0 infinite alternate;
                -moz-animation: infinite-bounce 1s 0 infinite alternate;
                -o-animation: infinite-bounce 1s 0 infinite alternate;
                animation: infinite-bounce 1s 0 infinite alternate;
            }

            .container {
                margin-top: -200px;
            }
        }

        .home2 {
            @include background-cover('home/main2.png');

            .container {
                margin-top: -200px;

                .row {
                    .col-lg-7 { margin-left: -100px; }
                }
            }
        }

        #idea {
            @include background-cover('home/ideabg.png');
        }

        #collaboration {
            @include background-cover('home/collaborationbg.png');
        }

        #research {
            @include background-cover('home/researchbg.png');
        }

        #design {
            @include background-cover('home/designbg.png');
        }

        #engineering {
            @include background-cover('home/engineeringbg.png');
        }

        #prototyping {
            @include background-cover('home/prototypingbg.png');
        }

        #testing {
            @include background-cover('home/testingbg.png');
        }

        #production {
            @include background-cover('home/productionbg.png');
        }

        #distribution {
            @include background-cover('home/distributionbg.png');
        }

        .main {
            .content {
                width: 513px;
                position: absolute;
                top: 78px;
                bottom: 0;

                &.right {
                    right: 0;
                }

                &.left {
                    left: 0;
                }

                // bottom: -50px;
                background: rgba(0, 0, 0, .7);
                border-top: 12px solid;

                &, h1 {
                    color: #eceadd;
                }

                h1 { font-size: 45px; }
                p { font-size: 21px; }

                &.yellow-border {
                    border-color: $header-yellow;

                    .footer { background: $header-yellow; }
                }

                &.purple-border {
                    border-color: $arciplex-purple;

                    .footer { background: $arciplex-purple; }
                }

                &.blue-border {
                    border-color: $arciplex-blue;

                    .footer { background: $arciplex-blue; }
                }

                &.orange-border {
                    border-color: $arciplex-orange;

                    .footer { background: $arciplex-orange; }
                }

                &.green-border {
                    border-color: $arciplex-green;

                    .footer { background: $arciplex-green; }
                }

                &.light-green-border {
                    border-color: $arciplex-light-green;

                    .footer { background: $arciplex-light-green; }
                }

                .container-fluid {
                    padding: 75px 30px;
                }

                .footer {
                    bottom: 0;
                    width: 100%;
                    height: 51px;
                    position: absolute;

                    span.icon {
                        display: block;
                        padding: 5px 30px;
                        font-weight: normal;
                        -webkit-text-stroke: 1px;
                        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
                        font-size: 21px;

                        img { padding-right: 5px; }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .navbar-right {
        .dropdown-menu {
            right: auto;
            top: 40px;
        }
    }
}
