@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import 'animations';

html, body { height: 100%; min-height: 100%; }

.home {

    .underline { text-decoration: underline; }
    -webkit-font-smoothing: antialiased;

    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;

    .header-font, .navbar { font-family: 'Fjalla One', sans-serif; }

    .ibg-bg { position: absolute; }

    .navbar {
        background: white;
        margin-bottom: 0;

        .navbar-brand {
            background-repeat: no-repeat;
            width: 164px;
            line-height: 28px;
            display: block;
            margin-top: 30px;
            background-image: asset-url('logo.png');
        }

        .nav {

            margin-top: 17px;

            li {
                margin-left: 55px;
                padding: 0 5px 10px 5px;
                font-size: 18px;
                text-transform: uppercase;

                a {
                    color: #838287;
                    padding-bottom: 0;
                    background: transparent;
                    box-sizing: border-box;
                    line-height: 35px;
                    display: block;
                    border-bottom: 4px solid transparent;

                    &:hover {
                        border-color: #FEA850;
                    }
                }

                .dropdown-menu {
                    background-color: #ece9e9;
                    border: 0;

                    li {
                        padding: 0;
                        margin: 5px auto;
                        font-size: 14px;

                        a {
                            color: #808084;
                            text-decoration: none;
                            border-bottom: 0;
                        }

                        &:hover {
                            border-bottom: 0;
                            background-color: #c4c3c1;

                            a {
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }

    .brochure-container {
        width: 100%;
        position: relative;
        padding: 0;
        overflow-x: hidden;

        font-size: 24px;

        h1 {
            text-transform: uppercase;
            color: $header-grey;
            font-size: 60px;
            font-weight: 300;

            span.yellow { color: $header-yellow; }
        }

        .cream { color: #eceadd; }

        #about-us {
            color: #eceadd;
            position: relative;
            height: 617px;

            .bg {
                overflow: hidden;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-image: asset-url("home/aboutusbg.png");
                background-position: 50% 50%;
                background-size: cover;
                -webkit-background-size: cover;
                background-repeat: no-repeat;
                background-attachment: fixed;
            }

            .col-lg-12 {

                h1 {
                    padding-bottom: 5px;
                    margin-bottom: 50px;
                    border-bottom: 3px solid #eceadd;
                }

                padding-top: 100px;
            }
        }

        #contact-us {
            @include background-cover('home/contactusbg.png');

            .header-font { padding-top: 200px; }

            #address {
                position: absolute;
                right: 50px;
                font-size: 18px;
                margin-top: 25px;
                margin-left: -25px;
            }

            #contact-form {
                margin-top: 100px;
                font-size: 30px;

                #form {
                    padding: 10px;

                    .btn {
                        background-color: #e96d1f;
                        border: 0;
                    }
                }
            }
        }

        .home1 {
            @include background-cover('home/main1.png');
            padding-bottom: 75px;
            margin-top: 25px;

            h1, h2 { margin-left: -115px; }

            h2 {
                color: $header-grey;
                font-size: 40px;
            }

            h1 { font-weight: 800; }

            #icon-holder {
                width: 1115px;
                height: 110px;
                margin: 25px 0 75px -115px;

                .icon {
                    display: block;
                    width: 98px;
                    height: 110px;
                    float: left;
                    background: asset-url('home/coloricons.png') no-repeat top left;
                    margin-left: 12px;
                    cursor: pointer;
                    -webkit-transition: all .4s ease-in-out;
                	-moz-transition: all .4s ease-in-out;
                	-o-transition: all .4s ease-in-out;
                	-ms-transition: all .4s ease-in-out;
                    transition: all .4s ease-in-out;

                    &:after {
                        content: attr(data-content) '';
                        display: inline-block;
                        width: 100%;
                        text-align: center;
                        padding-top: 105px;
                        margin-left: -5px;
                    }

                    &.idea {
                        background-position: -5px 0px;
                        &:after { margin-left: 1px; }
                    }
                    &.collaboration {
                        background-position: -130px 0px;
                        &:after { margin-left: -40px; }
                    }
                    &.research { background-position: -252px 0px; }
                    &.design {
                        background-position: -382px 0px;
                        &:after { margin-left: 2px; }
                    }
                    &.engineering {
                        background-position: -509px 0px;
                        &:after { margin-left: -25px; }
                    }
                    &.prototyping {
                        background-position: -635px 0px;
                        &:after { margin-left: -30px; }
                    }
                    &.testing {
                        background-position: -761px 0px;
                        &:after { margin-left: 2px; }
                    }
                    &.production {
                        background-position: -888px 0px;
                        &:after { margin-left: -20px; }
                    }
                    &.distribution {
                        background-position: -1013px 0px;
                        &:after { margin-left: -20px; }
                    }
                }
            }

            #down-arrow {
                background: asset-url('home/arrow.png') no-repeat top left;
                height: 66px;
                width: 64px;
            }
        }

        .home2 {
            @include background-cover('home/main2.png');

            .container {
                .row {
                    .col-lg-7 {
                        margin-left: -150px;
                        padding-top: 200px;
                    }
                }
            }
        }

        #idea {
            @include background-cover('home/ideabg.png');
        }

        #collaboration {
            @include background-cover('home/collaborationbg.png');
        }

        #research {
            @include background-cover('home/researchbg.png');
        }

        #design {
            @include background-cover('home/designbg.png');
        }

        #engineering {
            @include background-cover('home/engineeringbg.png');
        }

        #prototyping {
            @include background-cover('home/prototypingbg.png');
        }

        #testing {
            @include background-cover('home/testingbg.png');
        }

        #production {
            @include background-cover('home/productionbg.png');
        }

        #distribution {
            @include background-cover('home/distributionbg.png');
        }

        .main {
            .content {
                width: 513px;
                position: absolute;
                bottom: 0;
                top: 0;

                &.right {
                    right: 0;
                }

                &.left {
                    left: 0;
                }

                // bottom: -50px;
                background: rgba(0, 0, 0, .7);
                border-top: 12px solid;

                &, h1 {
                    color: #eceadd;
                }

                h1 { font-size: 45px; }
                p { font-size: 21px; }

                &.yellow-border {
                    border-color: $header-yellow;

                    .footer { background: $header-yellow; }
                }

                &.purple-border {
                    border-color: $arciplex-purple;

                    .footer { background: $arciplex-purple; }
                }

                &.blue-border {
                    border-color: $arciplex-blue;

                    .footer { background: $arciplex-blue; }
                }

                &.orange-border {
                    border-color: $arciplex-orange;

                    .footer { background: $arciplex-orange; }
                }

                &.green-border {
                    border-color: $arciplex-green;

                    .footer { background: $arciplex-green; }
                }

                &.light-green-border {
                    border-color: $arciplex-light-green;

                    .footer { background: $arciplex-light-green; }
                }

                .container-fluid {
                    padding: 150px 30px 30px 30px;
                }

                .footer {
                    bottom: 0;
                    width: 100%;
                    height: 51px;
                    position: absolute;

                    span.icon {
                        display: block;
                        padding: 5px 30px;
                        font-weight: normal;
                        -webkit-text-stroke: 1px;
                        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
                        font-size: 21px;

                        img { padding-right: 5px; }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .navbar-right {
        .dropdown-menu {
            right: auto;
            top: 40px;
        }
    }
}
