.navbar-toggle {
    .icon-bar {
        background-color: #838287;
    }
    padding-top: 20px;
}

@media (max-width: 320px) {
    img {
        display: block;
        max-width: 100%;
        height: auto;
    }
}

@media (max-width: 568px) {
    .home {
        .brochure-container {
            .section {
                @include background-cover-mobile;
                h2 {
                    font-size: 20px;
                    margin-left: 0px;
                }
                h1 {
                    font-size: 32px;
                    margin-left: 0px;
                }
                p { margin-left: 0; font-size: 18px; }

                .footer { display: none; }
            }

            .home1 {
                padding-bottom: 10px;

                #icon-holder {
                    height: 100%;
                    margin: 0;
                    width: 100%;
                }

                #down-arrow { margin-top: 25px; }
            }

            #idea, #collaboration, #research, #design, #engineering, #prototyping,
            #testing, #production, #distribution { @include background-cover-mobile; }

            .main {
                .content {
                    position: relative;
                    padding: 10px;
                    width: auto;

                    h1 { font-size: 32px; }
                    h2 { font-size: 20px; }
                    p { font-size: 18px; }
                }
            }

            #about-us {
                height: auto;
            }

            #contact-us {
                @include background-cover-mobile;
                background-color: #696969;
                background-image: none;

                #contact-form {
                    padding-bottom: 10px;
                }
            }
        }
    }
}
