.navbar-toggle {
    .icon-bar {
        background-color: #838287;
    }
    padding-top: 20px;
}

@media (max-width: 320px) {
    .home {
        .brochure-container {
            .home1 {
                #icon-holder {
                    .icon {
                        &.collaboration { margin: -25px 0 0 46px; }
                        &.research { margin-top: -25px; margin-left: -5px; }
                        &.design { clear: left; margin: -25px 0 0 0px; }
                        &.engineering { margin-top: -25px; margin-left: -3px; }
                        &.prototyping { margin-top: -25px; margin-left: -3px; }
                        &.testing { margin-left: -241px; margin-top: 60px; }
                        &.production { margin-top: -25px; margin-left: -2px; }
                        &.distribution { margin-left: 95px; margin-top: -27px; }
                    }
                }
            }
        }
    }
}

@media (min-width: 321px) and (max-width: 568px) {
    .home {
        .brochure-container {
            .home1 {
                #icon-holder {
                    .icon {
                        &.collaboration { margin: -25px 0 0 171px; }
                        &.research { margin-top: -25px; margin-left: -5px; }
                        &.design { clear: left; margin: -25px 0 0 125px; }
                        &.engineering { margin-top: -25px; margin-left: -3px; }
                        &.prototyping { margin-top: -25px; margin-left: -3px; }
                        &.testing { margin-left: -241px; margin-top: 60px; }
                        &.production { margin-top: 60px; margin-left: -145px; }
                        &.distribution { margin-left: 220px; margin-top: -27px; clear: both; }
                    }
                }
            }
        }
    }
}

@media (max-width: 568px) {
    .home {
        .brochure-container {
            .section {
                @include background-cover-mobile;
                h2 {
                    font-size: 20px;
                    margin-left: 0px;
                }
                h1 {
                    font-size: 32px;
                    margin-left: 0px;
                }
                p { margin-left: 0; font-size: 18px; }

                .footer { display: none; }
            }

            .home1 {
                padding-bottom: 10px;

                #icon-holder {
                    width: auto;
                    margin: 0 auto;

                    .icon {
                        transition: none;
                        margin-left: 0;

                        &:first-child {
                            float: none;
                            margin: 0 auto;
                        }
                    }
                }

                #down-arrow { margin-top: 25px; }
            }

            #idea, #collaboration, #research, #design, #engineering, #prototyping,
            #testing, #production, #distribution { @include background-cover-mobile; }

            .main {
                .content {
                    position: relative;
                    padding: 10px;
                    width: auto;

                    h1 { font-size: 32px; }
                    h2 { font-size: 20px; }
                    p { font-size: 18px; }
                }
            }

            #about-us {
                height: auto;
            }

            #contact-us {
                @include background-cover-mobile;
                background-color: #696969;
                background-image: none;

                #contact-form {
                    padding-bottom: 10px;
                }
            }
        }
    }
}
