<% content_for :page_title do %>
  <h2>Create a new User</h2>
  <p>Use the form below to create a new user</p>
<% end %>

<div class="row">

  <div class="col-md-9 col-md-offset-3">
    <%= render 'form' %>
  </div>

</div>
