<% content_for :page_title do %>
  <h2>Viewing User <%= @user.full_name %></h2>
  <%= link_to "Edit User", edit_admin_user_path(@user), class: "btn btn-primary pull-right" %>
<% end %>

<div class="row">
  <div class="col-md-9">
    <h3>Email: <%= @user.email %></h3>
    <p>Company: <%= @user.admin? ? "All" : @user.companies.collect(&:name).uniq.to_sentence %></p>
  </div>
</div>
