<div class="well">
    Item Type: <%= line_item.item_type %><br />
    Model Number: <%= line_item.model_number %><br />
    Serial Number: <%= line_item.serial_number %><br />
    Additional Information: <%= line_item.additional_information %>
</div>